DND/dx11_sdk/* linguist-vendored
DND/Effects11/* linguist-vendored
DND/zlib-1.2.8/* linguist-vendored
DND/libpng1630/* linguist-vendored
DND/libzplay-2.02_sdk/* linguist-vendored
DND/freetype-2.8/* linguist-vendored
