DND/dx11_sdk/* linguist-vendored
DND/Effects11/* linguist-vendored
DND/libpng1630/* linguist-vendored
DND/freetype-2.8/* linguist-vendored
DND/Box2D-master/* linguist-vendored
DND/DND/DND/ZLIB/* linguist-vendored